<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/cardiogram.png">
    <link rel=stylesheet type=text/css href="{{css_url}}">
    <title>Admin' s Homepage</title>
</head>

<body>
    <div class="m-4" id="container">
        <h3>Danh sách người dùng</h3>
        <div class="scollable">
            <table class="table table-striped table-hover table-condensed table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Organization</th>
                        <th scope="col">Department</th>
                        <th scope="col">Job</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% for user in users %}
                    <tr>
                        <td class='text-center'>{{user.id}}</td>
                        <td class="align-middle">{{user.username}}</td>
                        <td class="align-middle">{{user.email}}</td>
                        <td class="align-middle">{{user.phone}}</td>
                        <td class="align-middle">{{user.address}}</td>
                        <td class="align-middle">{{user.organization}}</td>
                        <td class="align-middle">{{user.department}}</td>
                        <td class="align-middle">{{user.job}}</td>
                        <td class="text-center align-middle">
                            {% if user.status == 'active' %}
                            <button class="btn btn-success">
                                active
                            </button>
                            {% else %}
                            <form onsubmit="if (!confirm('Confirm activation ?')) return false;"
                                action="activate/user?user_id={{user.id}}" method="post">
                                <button class="btn btn-warning">inactive</button>
                            </form>
                            {% endif %}
                        </td>
                        <td class="d-flex flex-column">
                            <div class="row justify-content-center my-1">
                                <form onsubmit="if (!confirm('Comfirm deletion ?')) return false;"
                                    action="delete/user?user_id={{user.id}}" method="post" class="px-1 col-5">
                                    <button class="btn btn-danger w-100">delete</button>
                                </form>
                                <a href="view/user/{{user.id}}/session" class="col-6 btn btn-info px-1">View sessions</a>
                            </div>
                            <div class="row justify-content-center">
                                <form action="update/user/{{user.id}}" method="get" class="px-1 col-5">
                                    <button class="btn btn-primary w-100">update</button>
                                </form>
                                <a href="reset-password/user/{{user.id}}" class="px-1 col-6 btn btn-secondary">Reset password</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
