<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="/static/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/cardiogram.png">
    <title>Reset password for user {{user.username}}</title>
</head>

<body>
    <!-- Default form login -->
    <div class="my-4 d-flex justify-content-center">
        <div class="d-flex flex-column col-md-7 col-lg-4 col-sm-10">
            <div class="card card-header bg-info p-0 rounded text-white" style="height: 80px;">
                <h5 class="py-2 d-flex justify-content-center align-items-center">Reset password for user</h5>
                <p class="d-flex mx-0 justify-content-center align-items-center">{{user.username}}</p>
            </div>
            <form class="card card-body text-center border border-solid pb-4 px-4" method="post" enctype="application/json">
                <input type="text" name="new_password" class="form-control mb-4" placeholder="New password">
                <div class="row d-flex justify-content-end">
                    <a href="../../homepage" class="btn btn-danger col-5 my-4 mr-1">back</a>
                    <button class="btn btn-info col-5 my-4 mr-3" type="submit"
                        onclick="if (!confirm('Reset password of this user ?')) return false;"
                        value="submit">reset</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
