<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="/static/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/cardiogram.png">
    <title>Session</title>
</head>

<body>
    <div class="card w-75 mx-auto" style="width: 18rem;">
        <div class="card-header bg-info text-white row w-100 mx-auto" style="height: 3rem">
            <h5 class="col-11 align-self-end">Sessions of user {{user.username}}</h5>
            <a href="../../../homepage" class="btn btn-danger btn-sm text-white col-1">⇦ Back</a>
        </div>
        <div class="card-body p-2">
            {% if sessions|length == 0 %}
            <h5 class="text-muted text-center font-italic">Empty...</h5>
            {% endif %}

            <div class="row mx-auto">
                {% for session in sessions %}
                <div class="col-sm-4 card border rounded p-0 my-1" style="border-width: 2px !important;">
                    <div class="card-header">{{session.name}}</div>
                    <div class="card-body container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="font-weight-bold">Patient' s name: </h6>
                                <p>{{session.patient_name}}</p>
                                <h6 class="font-weight-bold">Patient' s age: </h6>
                                <p>{{session.patient_age}}</p>
                                <a class="btn btn-info text-white" href="session/{{session.id}}">View details</a>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="font-weight-bold">Auto Ef: </h6>
                                <p>{{session.auto_ef}}</p>
                                <h6 class="font-weight-bold">Manual Ef: </h6>
                                <p>{{session.man_ef}}</p>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="font-weight-bold">Created at: </h6>
                                <p>{{session.created_at}}</p>
                                <h6 class="font-weight-bold">Updated at: </h6>
                                <p>{{session.updated_at}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
